<div class="body">
	<div class="container">

		<div class="content">

			<div class="banner">
				<h1>Ninja Shake</h1>
			</div>


			<div class="socialIcons">
				<a href="https://instagram.com/ninjashake" target="_blank"><i class="fa fa-instagram fa-5x"></i></a>
				<a href="https://www.youtube.com/ninjashakeofficial" target="_blank"><i class="fa fa-youtube-play fa-5x"></i></a>
				<a href="https://www.facebook.com/pages/Ninja-Shake/132591680413245" target="_blank"><i class="fa fa-facebook-square fa-5x"></i></a>
				<a ui-sref="splittwitch"><i class="fa fa-twitch fa-5x"></i></a>
			</div>

		</div>
		<!-- end of content -->

	</div>
	<!-- end of container -->
</div>

<script type="text/javascript" src="main.js"></script>